In [13]:
import pandas

In [14]:
df = pandas.read_csv(r"google-play-store-apps\googleplaystore.csv")

In [15]:
list(df)

['App',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver']

In [16]:
df = df.drop(['Last Updated', 'Android Ver', 'Content Rating', 'Current Ver', 'App'], axis=1)

In [18]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Genres
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Art & Design
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Art & Design;Pretend Play
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Art & Design
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Art & Design
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Art & Design;Creativity

In [25]:
df = df.fillna(0)

In [31]:
df= df[df['Rating'] != 0]
df= df[df['Rating'] <= 5]

In [32]:
df.describe(())

            Rating
count  9366.000000
mean      4.191757
std       0.515219
min       1.000000
50%       4.300000
max       5.000000

In [37]:
df['Category'].describe()

count       9366
unique        33
top       FAMILY
freq        1747
Name: Category, dtype: object

In [56]:
cats = list(df['Category'])

In [57]:
d ={}

for c in cats:
    if c in d:
        d[c] += 1
    else:
        d[c] = 1

In [58]:
values = list(d.values())

In [59]:
values.sort()

In [60]:
top_vals = values[-10:]
top_cats = []
for k in d:
    if d[k] in top_vals:
        top_cats.append((k,d[k]))
        top_vals.pop(top_vals.index(d[k]))

In [61]:
top_cats

[('COMMUNICATION', 328),
 ('FINANCE', 323),
 ('LIFESTYLE', 314),
 ('GAME', 1097),
 ('FAMILY', 1747),
 ('MEDICAL', 350),
 ('PHOTOGRAPHY', 317),
 ('SPORTS', 319),
 ('TOOLS', 734),
 ('PRODUCTIVITY', 351)]

In [63]:
Com = df[df['Category'] == 'COMMUNICATION']
Fin = df[df['Category'] == 'FINANCE']
Lif = df[df['Category'] == 'LIFESTYLE']
Gam = df[df['Category'] == 'GAME']
Fam = df[df['Category'] == 'FAMILY']
Med = df[df['Category'] == 'MEDICAL']
Pho = df[df['Category'] == 'PHOTOGRAPHY']
Spo = df[df['Category'] == 'SPORTS']
Too = df[df['Category'] == 'TOOLS']
Pro = df[df['Category'] == 'PRODUCTIVITY']

In [67]:
Com.describe().values

array([[328.        ],
       [  4.15853659],
       [  0.42619179],
       [  1.        ],
       [  4.        ],
       [  4.3       ],
       [  4.4       ],
       [  5.        ]])

In [70]:
price = Com[Com.columns[6]].replace('[\$,]+', '', regex=True).astype(float)

In [72]:
# pandas.DataFrame(price)

In [4]:
import pandas
import json


# Import csv to DataFrame
df = pandas.read_csv(r"google-play-store-apps\googleplaystore.csv")

# Drop the shitty columns
df = df.drop(['Last Updated',
              'Android Ver',
              'Content Rating',
              'Current Ver',
              'App', 'Type',
              'Size'], axis=1)

# Replace missing values with 0
df = df.fillna(0)

def get_top_cats(df, col_name, top):
    ''' Selects the top occuring in a dataframe column'''
    # Make list from data frame
    cats = list(df[col_name])
    d ={}

    # Count occurance of items in list
    for c in cats:
        if c in d:
            d[c] += 1
        else:
            d[c] = 1

    # Sort the values of counted values
    values = list(d.values())
    values.sort()

    # Retrive the keys corresponding to top values
    top_vals = values[-top:]
    top_cats = []
    for k in d:
        if d[k] in top_vals:
            top_cats.append((k))
            top_vals.pop(top_vals.index(d[k]))

    # Return top values
    return top_cats

# Get the top Categories of the Apps
top_cats = get_top_cats(df, col_name='Category', top=10)

# Make data dict
data = {}
for cat in top_cats:
    # Select disired category
    temp_df =  df[df['Category'] == cat]

    # Strip data, remove all special charactars and convert to flaot
    price = temp_df['Price'].str.replace('[\$,]+', '',
                                         regex=True).astype(float)
    installs = temp_df['Installs'].str.rstrip(r'+')
    installs = installs.str.replace(',', '',
                                    regex=True).astype(int)
    reviews = temp_df['Reviews'].astype(float)

    # Replace old data with stripped data
    temp_df.loc[:, 'Price'] = pandas.Series(price, index = temp_df.index)
    temp_df.loc[:, 'Installs'] = pandas.Series(installs, index = temp_df.index)
    temp_df.loc[:, 'Reviews'] = pandas.Series(reviews, index = temp_df.index)

    def save_describe(temp_df):
        '''
        Save the values of descibe in a dict, keeps the same order.
        This dict can be converted to json
        '''
        names = list(temp_df)

        # Get values from describe method and names of columns
        values = temp_df.describe().values
        des_names = list(temp_df.describe().index)

        # add values to the name of the values
        small_data = {}
        for i, val in enumerate(values):
            small_data[des_names[i]] = list(val)

        # Create a last list of the colums in the data frame
        small_data['Columns'] = names[1:-1]
        return small_data

    # Collect the data for the bar plot
    data[cat] = save_describe(temp_df)

data_json = json.dumps(data)

# Save to file
with open('data.json', 'w') as f:
    f.write(data_json)

data2 = []

for key in data:
    temp = data[key]
    data2.append({'Letter':key,'Freq':temp['mean'][0]})
    
data_json2 = json.dumps(data2)

# Save to file
with open('data2.json', 'w') as f:
    f.write(data_json2)

C:\Users\s147057\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [5]:
data2

[{'name': 'BUSINESS', 'mean': 2.7147826086956526, 'std': 2.0208065206823753},
 {'name': 'COMMUNICATION',
  'mean': 3.5245478036175695,
  'std': 1.547316577279994},
 {'name': 'LIFESTYLE', 'mean': 3.3659685863874325, 'std': 1.68984739843032},
 {'name': 'GAME', 'mean': 4.1102272727272755, 'std': 0.923282184408669},
 {'name': 'FAMILY', 'mean': 3.7139452332657226, 'std': 1.416336966932353},
 {'name': 'MEDICAL', 'mean': 3.1667386609071295, 'std': 1.8913838444743232},
 {'name': 'SPORTS', 'mean': 3.508593750000001, 'std': 1.6330637568716768},
 {'name': 'TOOLS', 'mean': 3.5240806642941886, 'std': 1.4754447626537233},
 {'name': 'PERSONALIZATION',
  'mean': 3.473214285714289,
  'std': 1.7617771413127659},
 {'name': 'PRODUCTIVITY', 'mean': 3.486320754716982, 'std': 1.656736845394396}]

In [200]:
list(temp_df.describe().index)

['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']

In [6]:
len(data2)

10